.dashboard{
    background-image: url('../app/dashboard/examatize bg.jpg');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 100%;
    padding-bottom: 30px;
    background-attachment: fixed;
}